.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.description {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.form-container {
  width: 300px;
}

.found-ids {
  text-align: center;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200%;
  max-width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50%;
}

.ids-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ids-list li {
  text-align: left;
}

.options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.option-item {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}