.reservation {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 150px;
}

.reservation-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.reservation-title {
  font-size: 20px;
  margin: 50px;
}

.reservation-info {
  bottom: 70px;
  font-size: 18px;
  text-align: center;
}

.reservation-info p {
  bottom: 70px;
  font-size: 18px;
  text-align: center;
}

#infobutton {
  background-color: #0b5394;
  min-width: 187px;
  height: 52px;
  border-radius: 0;
  padding: 0 15px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border: none;
}
