  <!-- ***** Header Area Start ***** -->
  <header class="header_area" id="header">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 h-100">
          <nav class="h-100 navbar navbar-expand-lg">
            <a class="navbar-brand" href=""><img src="img/core-img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav"
              aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="fa fa-bars"></span></button>
            <!-- Nav -->
            <div class="collapse navbar-collapse" id="dorneNav">
              <ul class="navbar-nav mr-auto" id="dorneMenu">

              </ul>
              <!-- Signin btn -->
              <div class="dorne-signin-btn">
                <a href="#">로그아웃</a>
              </div>
              <div class="zip-dropdown-menu">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: #fff;"><i class="fa fa-bars"
                      aria-hidden="true"></i></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">내 정보</a>
                    <a class="dropdown-item" href="#">예약 내역</a>
                    <a class="dropdown-item" href="#">이용 내역</a>
                    <a class="dropdown-item" href="#">내 찜 목록</a>
                  </div>
                </li>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>