@charset "UTF-8";

ul, ol, li {
    list-style: none;
}


.top_head div button{display:inline-block;position:absolute;top:0;left:0;width:44px;height:44px;border:none;background:url('//image.goodchoice.kr/images/web_v3/ico_close.png') 50% 50% no-repeat;background-size:24px auto;text-indent:-9999px}
.filter_wrap{display:none;position:absolute;top:0;z-index:300;width:100%;background:#fff}

.filter_wrap h3{display:none}
.filter_wrap .btn_wrap{overflow:hidden;position:fixed;top:44px;left:0;right:0;z-index:10;height:72px;padding:0 24px;border-bottom:1px solid rgba(0,0,0,0.08);background:#fff;}
.filter_wrap .btn_wrap button{height:40px;margin-top:16px;border-radius:4px;font-size:16px}
.filter_wrap .btn_wrap button:nth-child(1){float:left;width:49%;border:1px solid rgb(242,7,76);background:#fff;color:rgb(242,7,76)}
.filter_wrap .btn_wrap button:nth-child(2){float:right;width:49%;border:1px solid rgb(242,7,76);background:rgb(242,7,76);color:#fff;font-weight:normal;}
.filter_wrap section{position:relative;margin:0 24px;padding:30px 0 12px 0;border-bottom:1px solid rgba(0,0,0,0.08)}
.filter_wrap section strong{display:block;position:relative;margin-bottom:21px;font-size:18px;color:rgba(0,0,0,0.87)}
.filter_wrap section strong button{display:inline-block;position:absolute;top:-3px;right:0;border:none;background:none;font-size:14px;color:rgb(0,121,107)}
.filter_wrap section ul li{margin-bottom:16px}
.filter_wrap section .half{overflow:hidden}
.filter_wrap section .half li{float:left;width:50%}
.filter_wrap section .half li label{font-size:14px !important}
.filter_wrap .hide_type{overflow:hidden;height:68px}
.filter_wrap .hide_type_02{overflow:hidden;height:106px}
.filter_wrap .hide_type.show,.filter_wrap .hide_type_02.show{height:auto}
.filter_wrap .badge_benefit{display:inline-block;height:32px;margin:0 8px 8px 0;padding:0 7px;border:1px solid rgba(0,0,0,0.27);border-radius:32px;background:#fff;font-size:14px;line-height:32px;color:rgba(0,0,0,0.56);cursor: pointer}
.filter_wrap .badge_benefit.on{border:1px solid rgb(242,17,76);color:rgb(230,28,81)}
.filter_wrap .room_type{overflow:hidden;text-align:center}
.filter_wrap .room_type p{display:inline-block;float:left;width:25%}
.filter_wrap .cnt_people{position:absolute;top:0;right:24px;width:140px}
.filter_wrap .cnt_people button{border:none;background:none;font-size:18px;font-weight:bold;vertical-align:top}
.filter_wrap .cnt_people button.disable{opacity:0.5}
.filter_wrap .cnt_people button:first-child{position:absolute;top:25px;left:0;width:24px;height:24px;background:url('//image.goodchoice.kr/images/web_v3/ico_minus.png') 50% 50% no-repeat;background-size:20px auto;text-indent:-9999px}
.filter_wrap .cnt_people button:last-child{position:absolute;top:25px;right:0;width:24px;height:24px;background:url('//image.goodchoice.kr/images/web_v3/ico_plus.png') 50% 50% no-repeat;background-size:20px auto;text-indent:-9999px}
.filter_wrap .cnt_people span{display:block;padding-top:25px;text-align:center;font-size:18px;font-weight:bold;color:rgb(229,16,72)}
.filter_wrap .btn_date{display:none;cursor:pointer}
.slider_wrap{position:relative;height:40px;margin:34px 24px 0 0}
.slider_wrap .price_txt{position:absolute;top:16px;left:0;font-size:14px;color:rgba(0,0,0,0.56)}
.slider_wrap .price_txt:last-child{position:absolute;top:16px;right:0;font-size:14px;color:rgba(0,0,0,0.56);text-align:right}
.price_val{position:relative;top:-1px;border:none;font-size:14px;color:rgb(230,28,81);margin-left: 10px;}
.list_wrap .title{position:relative;padding:6px 16px 5px 16px;background:#e8e8e8;font-size:12px}
.list_wrap .title h3{font-size:12px;font-weight:normal;color:rgba(0,0,0,0.38)}
.list_wrap .title span{display:block;position:absolute;top:6px;right:16px;width:100%;padding-right:18px;background:url('//image.goodchoice.kr/images/web_v3/ico_question.png') 100% 50% no-repeat;background-size:12px auto;color:rgba(0,0,0,0.2);text-align:right;}
.list_wrap .title .pop_add{display:inline-block;position:absolute;top:13px;right:13px;z-index:100;padding:5px 7px;border:1px solid rgba(0,0,0,0.02);border-radius:2px;background:#fff;font-size:12px;line-height:1.5;color:rgba(0,0,0,0.56);text-align:center;}
.bg_top_sub{display:none}
.top_sort{overflow:hidden;padding:8px 16px;background:#fff}
.top_sort .mobile{display:block;overflow:hidden}
.top_sort .mobile button{float:left;width:33%;height:24px;border:1px solid rgba(0,0,0,0.04);border-radius:4px;background:none;font-size:13px;color:rgba(0,0,0,0.56)}
.top_sort .mobile button.active{color:rgba(242,17,76,0.87);}
.top_sort .mobile button:nth-child(2){margin:0 0.5%}
.top_sort .pc{display:none}
.result_top .sub_top .keyword{display:none}
.result_top .btn_date{left:0;width:100% !important;text-align:left !important}
.result_top .btn_date span{display:block;width:100%}
.result_top .area{margin-left:8px}
.result_top .area:after{display:none}
.result_top .area .btn_date span:after{right:4px}
/*.stage strong, .stage b, .stage p, .stage em, .stage span{line-height:normal;}*/
.list_4.adcno6 .pic img,.list_4.adcno3 .pic img,.list_4.adcno4 .pic img,.list_4.adcno5 .pic img{width:100%;height:100%;}
.list_4.adcno2 .pic img,.list_4.adcno1 .pic img{position:absolute;top:0;left:50%;height:100%;}
.list_1{overflow:hidden;position:relative;height:256px}
.list_1 a{height:210px}
.list_1 a,.list_2 a,.list_3 a,.list_4 a{display:block;color:#fff}
.list_1 img.align{position:absolute;top:50%;left:0;z-index:1;width:100%;min-height:284px}
.list_1 .stage{position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;padding:0 16px}
.list_1 .stage .top{padding:16px 0 0 0;text-align:right}
.list_1 .event_info{position:absolute;right:0;bottom:0;left:0;width:100%;height:28px;}
.list_1 .event_info p{overflow:hidden;height:28px;margin:0 16px;border-top:1px solid rgba(255,255,255,0.08);font-size:13px;line-height:28px;color:rgb(128,170,166);text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;}



.list_2 .price em {display: block; text-decoration: line-through}
.list_2 .price em.mark{text-align:right; text-decoration: none; font-size: 15px}
.list_3 .bg_1grade{background:rgba(0,0,0,0.8)}
.list_3 .bg_business{background:rgba(72,92,126,0.86)}
.list_3 .bg_resi{background:rgba(122,130,142,0.8)}
.list_3 .bg_visit{background:rgba(122,130,142,0.7)}
.list_3 .bg_vr{background:rgba(152,163,180,0.8)}
.list_3 .price p{font-size:14px;color:rgba(255,255,255,0.7) !important}
.list_3 .price p span{font-size:13px}
.list_3 .price p b{font-size:17px}
.list_4{overflow:hidden;position:relative;border-bottom:1px solid rgba(0,0,0,0.08)}
.list_4 .pic{display:inline-block;overflow:hidden;position:absolute;top:16px;bottom:16px;left:16px;width:104px;text-align:center}
.list_4  .stage{padding:16px 16px 16px 134px;color:rgba(0,0,0,0.87);font-size:14px;line-height:normal;}
.list_4  .stage .name strong{display:block;margin-bottom:3px; padding-top:2px;font-size:17px;line-height:1;}
.list_4  .stage .name p{margin-bottom:1px;;line-height:19px;}
.list_4  .stage .name .score{color:rgb(255,167,38)}
.list_4  .stage .name .score em{display:inline-block;height:15px;padding:1px 2px;border-radius:4px;background:rgb(255,167,38);font-size:12px;line-height:15px;color:#fff}
.list_4  .stage .name .txt_opt{color:rgba(0,0,0,0.56);line-height:19px;}
.list_4  .stage .name .txt_evt{color:rgb(22,141,133);display:block;overflow:hidden;padding:0;line-height:19px;}
.list_4  .stage .name .earlybird{display:inline-block;width:113px;height:17px;margin-top:4px;background:url('//image.goodchoice.kr/images/web_v3/ico_earlybird.png') 0 0 no-repeat;background-size:113px auto;text-indent:-9999px}
.list_4  .stage .name .soldout{display:inline-block;width:113px;height:17px;margin-top:4px;background:url('//image.goodchoice.kr/images/web_v3/ico_soldout.png') 0 0 no-repeat;background-size:113px auto;text-indent:-9999px}
.list_4  .stage .price{margin-top:24px;font-size:14px;color:rgba(0,0,0,0.72);text-align:right;}
.list_4  .stage .price p{padding-top:5px;}
.list_4  .stage .price em{display:block;position:relative;font-size:14px;color:rgba(0,0,0,0.56);text-decoration:line-through;line-height:1;vertical-align:bottom;}
.list_4  .stage .price .mark{text-align:right;line-height:1;}
.list_4  .stage .price .mark span{display:inline-block;position:relative}
.list_4  .stage .price .mark span b{margin-bottom:2px;vertical-align:top;}
.list_4  .stage .price .mark b{display:inline-block;position:relative;background:none;z-index:10;font-size:13px;font-weight:normal;vertical-align:bottom;}
.list_4  .stage .price .mark i{display:inline-block;position:absolute;bottom:3px;left:0;width:100%;height:6px;background:rgb(255,250,194)}
.list_4  .stage .price b{display:inline-block;position:relative;top:1.5px;font-size:17px;color:rgba(0,0,0,0.87);line-height:1;}
.list_4  .stage .price span{position:relative;top:-1px;padding:2px 2px 1px 2px;font-size:12px;color:#fff;vertical-align:bottom;}
.list_4  .stage .badge{ display:inline-block;position:relative; vertical-align:top;}
.ios .list_4  .stage .badge{ top:-2px}
.right_badges {overflow: hidden;position: absolute;top: 19px;left: 16px;width: 104px;height: 20px;}
.list_4  .stage .right_badges .badge{top: 0px;left: 0px;width: 100%;padding-right:3px;}
.list_4  .stage .badge_adcno{left:89px;right:auto}
.list_4  .stage .badge span{display:inline-block;float:left;padding:2px 2px 1px 2px;font-size:12px;line-height:normal;color:#fff}
.list_4  .stage .right_badges .badge span {float: right;}
.list_4  .stage .coupon{overflow:hidden;position:absolute;bottom:16px;;left:16px;width:104px;height:20px;font-size:12px;line-height:21px;color:#fff;text-align:center}
.hot_stay{ background:rgb(254,251,245);}



/* Media Query 1024 */
@media all and (min-width:1024px){ 

/*	.list_2.adcno1 .pic img,.list_4.adcno1 .pic img{position:relative;top:0;left:0;height:auto;margin:0 !important;}*/
	.bg_opacity{display:none !important}
	.filter_wrap{float:left;display:inline-block !important;position:relative !important;top:40px;z-index:1;width:296px;margin:0 32px 0 31px;padding-bottom:10px;border:1px solid rgba(0,0,0,0.08);border-radius:4px;background:#fff}
	.filter_wrap .top_head{display:none}
	.filter_wrap h3{display:block;font-size:18px;color:rgba(0,0,0,0.87)}
	.filter_wrap .btn_wrap{overflow:hidden;position:relative;top:auto;height:64px;padding:0 24px;border-bottom:none}
	.filter_wrap .btn_wrap button{height:40px;margin-top:13px;border-radius:4px;font-size:16px}
	.filter_wrap .btn_wrap button:nth-child(1){float:left;width:120px;border:1px solid rgb(242,7,76);background:#fff;color:rgb(242,7,76)}
	.filter_wrap .btn_wrap button:nth-child(2){float:right;width:120px;border:1px solid rgb(242,7,76);background:rgb(242,7,76);color:#fff}
	.filter_wrap .date_view b{font-weight:normal}
	.filter_wrap section{margin:0 0 0 24px;padding:27px 0 0 0;border-bottom:none}
	.filter_wrap section:first-child{height:160px}
	.filter_wrap section:last-child{border-bottom:none}
	.filter_wrap section strong{display:block;position:relative;margin-bottom:21px;font-size:16px;font-weight:bold;color:rgba(0,0,0,0.56)}
	.filter_wrap .date_wrap{display:block;}
	.filter_wrap .date_wrap + h3{margin:0 24px;padding-top:31px;border-top:1px solid rgba(0,0,0,0.08)}
	.filter_wrap section strong button{display:none}
	.filter_wrap section ul li{margin-bottom:16px}
	.filter_wrap section .half{overflow:hidden}
	.filter_wrap section .half li{float:left;width:50%}
	.filter_wrap .hide_type,	.filter_wrap .hide_type_02{overflow:hidden;height:auto}
	.filter_wrap .hide_type.show,.filter_wrap .hide_type_02.show{height:auto}
	.filter_wrap .room_type{overflow:hidden;width:304px;margin-left:-20px}
	.filter_wrap .room_type p{display:inline-block;float:left;width:67px}
	.date_wrap{display:block}
	.filter_wrap .btn_date{display:inline-block;position:relative;width:246px;height:40px;margin:13px 0 32px 0;padding:0 0 0 39px;border:1px solid rgba(0,0,0,0.08);border-radius:4px;background:rgba(250,250,250,0.7) url('//image.goodchoice.kr/images/web_v3/ico_arr_down.png') right 8px bottom 50% no-repeat;background-size:24px auto;font-size:18px;line-height:40px;color:rgba(0,0,0,0.56);text-align:left;box-sizing:border-box}
	.filter_wrap .btn_date:after{display:inline-block;content:'';position:absolute;top:4px;left:3px;width:32px;height:32px;background:url('//image.goodchoice.kr/images/web_v3/ico_cal_2.png') 0 0 no-repeat;background-size:32px auto}
	.list_wrap{float:left;width:635px;margin-top:40px}
	.list_wrap .title{position:relative;padding:23px 0 12px 0;background:none;font-size:14px}
	.list_wrap .title h3{font-size:18px;font-weight:bold;color:rgba(0,0,0,0.56)}
	.list_wrap .title span{display:inline-block;position:absolute;top:21px;right:0;height:19px;padding:2px 22px 0 0;background:url('//image.goodchoice.kr/images/web_v3/ico_question.png') 100% 0 no-repeat;background-size:20px auto;font-size:14px;color:rgba(0,0,0,0.56);cursor:pointer}
	.list_wrap .title .pop_add{top:20px;right:21px;font-size:14px}
	.top_sort{overflow:hidden;padding:0;background:#fff;box-shadow:none;text-align:center}
	.top_sort .btn_wrap{overflow:hidden;float:left;width:546px;height:40px;border:1px solid rgba(0,0,0,0.08);border-radius:4px;box-sizing:border-box}
	.top_sort .btn_wrap button{border-right:1px solid rgba(0,0,0,0.08)}
	.top_sort .btn_wrap button:last-child{border-right:none}
	.top_sort button{float:left;height:40px;border:none;border-radius:0;background:rgba(250,250,250,0.6);font-size:16px;line-height:40px;color:rgba(0,0,0,0.38)}
	.top_sort button span{display:inline-block;position:relative;top:-2px}
	.top_sort button i{display:none;width:24px;height:24px;margin:0 1px 0 -24px}
	.top_sort button.on{color:rgba(0,0,0,0.87)}
	.top_sort button.on span{padding:0 0 0 24px}
	.top_sort button.on span{display:inline-block;background:url('//image.goodchoice.kr/images/web_v3/ico_chk_2.png') 0 50% no-repeat;background-size:22px auto;color:rgb(242,7,76);}
	.top_sort .mobile{display:none}
	.top_sort .pc{display:block}
	.top_sort .btn_map{float:right;display:inline-block;width:80px;margin-left:8px;padding:0 12px 0 0;border:1px solid rgba(0,0,0,0.08);border-radius:4px;background:url('//image.goodchoice.kr/images/web_v3/ico_map.png') 8px 50% no-repeat;background-size:22px auto;background-color:rgba(250,250,250,0.6);text-align:right}
	.top_sort .width_2 button{width:50%}
	.top_sort .width_3 button{width:33%}
	.top_sort .width_3 button:nth-child(1){width:34%}
	.top_sort .width_4 button{width:25%}
	.list_1{overflow:hidden;position:relative;height:352px;padding:0}
	.list_1 a{display:block;height:352px;color:#fff}
	.list_1 img.align{position:absolute;top:50%;left:0;z-index:1;width:100%;min-height:352px}
	.list_1 .stage{position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;padding:0 20px 0 27px}
	.list_1 .stage .top{padding:22px 0 0 0;text-align:right}
	.list_1 .event_info{height:44px;}
	.list_1 .event_info p{height:44px;margin:0 24px;font-size:18px;line-height:44px;}
	.list_2,.list_3{overflow:hidden;position:relative;height:280px}
	.list_2 a,.list_3 a{display:block;height:280px;color:#fff}
	.list_2 img.align,.list_3 img.align{position:absolute;top:50%;left:0;z-index:1;width:100%;min-height:280px}
	.list_2 .stage,.list_3 .stage{position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;padding:0 24px}
	.list_1 .stage .evt_info,
	.list_2 .stage .evt_info,
	.list_3 .stage .evt_info{position:absolute;top:24px;left:0;right:auto;height:24px;}
	.list_2 .stage .evt_info span,.list_3 .stage .evt_info span{height:24px;margin:0 10px 0 24px;padding-top:3px;font-size:18px;line-height:1;}
	.ad_info {position:absolute; top:24px;right:24px;left:auto;width:32px;height:24px; display:inline-flex; justify-content:space-around; align-items:center;}
	.ad_info img {width:100%;}
	.list_1 .stage .top span,	
	.list_2 .stage .coupon,
	.list_3 .stage .coupon{overflow:hidden;height:24px;position:absolute;top:24px;right:24px;padding:0 8px;font-size:14px;line-height:24px;color:rgba(255,255,255,0.9)}
	.list_1 .stage .name{position:absolute;bottom:59px;left:24px}
	.list_1 .stage .name.no-event {bottom:15px;}
	.list_2 .stage .name,
	.list_3 .stage .name{position:absolute;bottom:20px;left:24px;}
	.list_1 .stage .name .badge span{height:20px;padding:0 3px;font-size:14px;line-height:20px}
	.list_2 .stage .name .badge span,
	.list_3 .stage .name .badge span{height:18px;padding:0 3px;font-size:14px;line-height:18px}
	.list_1 .stage .name strong{display:block;height:auto;font-size:36px}
	.list_2 .stage .name strong,
	.list_3 .stage .name strong{display:block;height:auto;font-size:26px;line-height:normal;}
	.list_1 .stage .name p,
	.list_2 .stage .name p,
	.list_3 .stage .name p{height:auto;margin-top:9px;padding-bottom:2px;font-size:20px}
	.list_1 .stage .name .score,
	.list_2 .stage .name .score,
	.list_3 .stage .name .score{height:auto;margin-top:7px;line-height:normal;}
	.list_1 .stage .price{position:absolute;bottom:60px;right:24px;;text-align:right}
	.list_1 .stage .price.no-event {bottom:16px;}
	.list_2 .stage .price,
	.list_3 .stage .price{position:absolute;bottom:20px;right:24px;;text-align:right}
	.list_2 .stage .price .earlybird,.list_3 .stage .price .earlybird{display:inline-block;width:124px;height:23px;margin:0 -5px 5px 0;background:url('//image.goodchoice.kr/images/web_v3/ic_badge_payback_panorama_23px.png') 100% 0 no-repeat;background-size:auto 23px;text-indent:-9999px;text-align:left}
	.list_2 .stage .price .soldout,.list_3 .stage .price .soldout{display:inline-block;width:135px;height:23px;margin:0 -5px 9px 0;background:url('//image.goodchoice.kr/images/web_v3/ic_badge_payback_soldout_panorama_23px.png') 100% 0 no-repeat;background-size:auto 23px;text-indent:-9999px;text-align:left}
	.list_1 .stage .price p,
	.list_2 .stage .price p,
	.list_3 .stage .price p{height:auto;margin-top:11px;font-size:20px;color:rgba(255,255,255,0.9)}
	.list_1 .stage .price p b,
	.list_2 .stage .price p b,
	.list_3 .stage .price p b{top:0;font-size:22px;color:#fff}
	.list_1 .stage .price p span,
	.list_2 .stage .price p span,
	.list_3 .stage .price p span,
	.list_4 .stage .price p span{position:relative;top:1px;height:20px;padding:0 3px;font-size:14px;line-height:20px}
	.list_3 .price p{font-size:20px;color:rgba(255,255,255,0.7)}
	.list_3 .price p span{font-size:20px !important}
	.list_3 .price p b{font-size:22px}
	.list_3 .price .line_through{text-decoration:line-through}
	.list_4 .pic{display:inline-block;overflow:hidden;position:absolute;top:16px;bottom:16px;left:0;width:152px;text-align:center}
	.list_4 .pic img.align_2{height:130%}
	.list_4  .stage{padding:16px 0 16px 168px;color:rgba(0,0,0,0.87);font-size:18px;line-height:21px}
	.list_4  .stage .name strong{margin-bottom:7px; padding-top:8px;font-size:22px;line-height:1;}
	.list_4  .stage .name p{margin-bottom:7px;}
	.list_4  .stage .name .score em{display:inline-block;position:relative;top:1px;height:17px;padding:0 3px;border-radius:4px;font-size:14px;line-height:17px;vertical-align:top;}
	.list_4  .stage .name .txt_evt{line-height:1.4}
	.list_4  .stage .name .earlybird{display:inline-block;width:130px;height:23px;margin-top:6px;background:url('//image.goodchoice.kr/images/web_v3/ic_badge_payback_thumbnail_23px.png') 0 0 no-repeat;background-size:130px auto;text-indent:-9999px}
	.list_4  .stage .name .soldout{display:inline-block;width:138px;height:23px;margin-top:6px;background:url('//image.goodchoice.kr/images/web_v3/ic_badge_payback_soldout_thumbnail_23px.png') 0 0 no-repeat;background-size:138px auto;text-indent:-9999px}
	.list_4  .stage .price{margin-top:56px;font-size:20px;color:rgba(0,0,0,0.72);text-align:right}
	.list_4  .stage .price p{padding-top:9px;}
	.list_4  .stage .price em{display:block;position:relative;font-size:16px;color:rgba(0,0,0,0.56);text-decoration:line-through}
	.list_4  .stage .price .mark{text-align:right}
	.list_4  .stage .price .mark span{display:inline-block;position:relative}
	.list_4  .stage .price .mark b{display:inline-block;position:relative;background:none;z-index:10;font-size:16px;font-weight:normal}
	.list_4  .stage .price .mark i{display:inline-block;position:absolute;bottom:3px;left:0;width:100%;height:7px;background:rgb(255,250,194)}
	.list_4  .stage .price b{top:0;font-size:22px;color:rgba(0,0,0,0.87)}
	.list_4  .stage .badge{ position:relative;top:2px;}
	.list_4  .stage .right_badges .badge{padding-right:4px;}
	.right_badges {overflow: hidden;position: absolute;top:16px;left:0;width:152px;height:24px;font-size:14px;line-height:24px;text-align: center;}
	.right_badges .badge {text-align: right;width:100%;top:0px !important;left:0px !important;padding:4px;}
	.list_4  .stage .badge_adcno {left:inherit;right: 488px}
	.list_4  .stage .badge span{display:inline-block;float:left;height:18px;padding:0 3px;font-size:14px;line-height:18px;color:#fff}
	.list_4 .stage .right_badges .badge span {float: right !important;}
	.list_4  .stage .coupon{overflow:hidden;position:absolute;bottom:16px;;left:0;width:152px;height:24px;font-size:14px;line-height:24px;color:#fff;text-align:center}
	.hot_stay{ padding:0 16px;}
	.hot_stay .pic{left:16px}
	.area_pop{display:none;overflow:hidden;position:absolute;top:202px;right:auto;bottom:auto;left:50%;z-index:200;width:466px;height:555px;margin-left:-513px;border-radius:4px;background:#fff;
			-webkit-box-shadow:0px 3px 5px 0px rgba(0,0,0,0.2);
			-moz-box-shadow:0px 3px 5px 0px rgba(0,0,0,0.2);
			box-shadow:0px 3px 5px 0px rgba(0,0,0,0.2);
    }